.navBar {
    display: flex;
    height: 40px;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
}

.navBarTitle {
    font-weight: 500;
    font-size: 24px;
    margin: auto 0px;
}

.addFileBtn {
    white-space: nowrap;
    height: 40px;
}

.paper-button {
    text-transform: none !important;
}
