th > strong {
    letter-spacing: 0.2px !important;
    color: #9fa2b4 !important;
    font-size: 13px !important;
    padding-left: 16px !important;
}

tr:hover {
    cursor: pointer;
}

tr > th:hover {
    cursor: initial;
}
